<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'rsk/css/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="content_container">
            <div class="content_1">
                <a href="{% url 'index' %}"><img src="{% static 'rsk/img/logo.png' %}" alt="logo.gif" class="content_logo"></a><br>
                <a href="/" class="content_menu">О компании</a><br>
            </div>
            <div class="content_2">
                <img src="{% static 'rsk/img/CAM00274.jpg' %}" alt="photo_album" class="content_img">
            </div>
            <div class="content_3">
                <p>{% block content %} {% endblock %}</p>
            </div>
        </div>
        <div class="footer">
            <hr class="footer_hr">
            <div class="footer_content">
                <p class="footer_text footer_info">
                    ООО "Региональная сетевая компания"<br>
                    685000, г.Магадан, ул.Скуридина, д.1/23<br>
                    8 (4132) 20-21-33 (доб. 1)<br>
                    <a href="mailto:rsk@magrsk.ru" class="mailto">rsk@magrsk.ru</a>
                </p>
                <p class="footer_text footer_info">
                    <br>
                </p>
            </div>
        </div>
    </div>

</body>
</html>