{% extends 'base.html' %}
{% block title %}ООО "Региональные энергетические системы"{% endblock %}
{% block content %}
    <p class="index_head">
        ООО <span style="color: rgb(204, 0, 0);">«Региональная сетевая компания»</span> создано в 2019 году и в настоящее время является региональной компанией оказывающей услуги по передаче электрической энергии по электрическим сетям (0,4 – 10 кВ) на территории Магаданской области.
    </p>
    <br>
    <p>
        В настоящее время компания оказывает услуги по передаче электроэнергии в следующих населенных пунктах Магаданской области: поселок Талая Хасынского района. Компания ориентирована на создание максимально благоприятных условий для развития экономического и социального секторов региона за счет обеспечения надежного и бесперебойного электроснабжения потребителей.
    </p>
{% endblock %}