<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'rsk/css/style.css' %}" />
    <link rel="icon" href="{% static 'rsk/img/fav.ico' %}" type="image/x-icon">
    <title>ООО "Региональная сетевая компания"</title>
</head>
<body>
    <div class="wrapper">
        <div class="content_container">
            <div class="content_1">
                <a href="{% url 'index' %}"><img src="{% static 'rsk/img/logo.png' %}" alt="logo.gif" class="content_logo"></a>
                {% for m in menu %}
                    <table>
                        <tr>
                            <td>
                                <a href="{% url m.url_name %}" class="content_menu">{{m.name}}</a>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <div class="content_2">
                <img src="{% static 'rsk/img/fon.jpg' %}" alt="photo_album" class="content_img">
	        </div>
            <div class="content_3">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <hr class="footer_hr">
            <div class="footer_content">
                <p class="footer_text footer_info">
                    ООО "Региональная сетевая компания"<br>
                    685000, г.Магадан, ул.Скуридина, д.1/23<br>
                    8 (4132) 20-21-33<br>
                    <a href="mailto:main@magrsk.ru" class="mailto">main@magrsk.ru</a>
                </p>
                <p class="footer_text footer_info">
                <br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>