{% extends 'base.html' %}
{% block title %}Раскрытие информации{% endblock %}
{% block content %}
    {% if posts %}
        {% for n in posts %}
            <p>
                <a href="{% url 'news' n.pk %}" class="content_a"><span class="cat_news_span">{{n.name}}</span> {{n.short_desc|truncatewords:15}}</a>
            </p>
            <hr class="content_hr">
        {% endfor %}
    {% else %}
        <p>Раскрытие информации будет позже</p>
    {% endif %}
    {% include "pagination.html" with page=posts %}
{% endblock %}